PORT=3004
JWT_SECRET=XcuxdXblcDUd7WCcVdc6hFQNWtl7oBqqLRiP7MTQ2kh+pCd7e5WlEYn4YDEMhMuC
DATABASE_URL=postgresql://workbridge_notif:workbridge_notif_pass@localhost:3454/workbridge_notif_db
AUTH_SERVICE_URL=http://localhost:3001
PROFILE_SERVICE_URL=http://localhost:3002
CORS_ORIGIN=http://localhost:5173,http://localhost:3000
