version: "3.8"

services:
  prometheus:
    image: prom/prometheus:latest
    restart: always
    ports:
      - "9090:9090"
    volumes:
      - ./observability/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro

  grafana:
    image: grafana/grafana:latest
    restart: always
    ports:
      - "3006:3000"
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
    volumes:
      - grafana_data:/var/lib/grafana
      - ./observability/grafana/provisioning:/etc/grafana/provisioning:ro

  loki:
    image: grafana/loki:2.9.8
    restart: always
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml

  promtail:
    image: grafana/promtail:2.9.8
    restart: always
    volumes:
      - ./observability/promtail/promtail.yml:/etc/promtail/config.yml:ro
      - ./apps:/var/log/apps:ro
    command: -config.file=/etc/promtail/config.yml

volumes:
  grafana_data:
