PORT=3005
JWT_SECRET=XcuxdXblcDUd7WCcVdc6hFQNWtl7oBqqLRiP7MTQ2kh+pCd7e5WlEYn4YDEMhMuC
DATABASE_URL=postgresql://workbridge_admin:workbridge_admin_pass@localhost:3454/workbridge_admin_db
AUTH_SERVICE_URL=http://localhost:3001
PROFILE_SERVICE_URL=http://localhost:3002
JOBS_SERVICE_URL=http://localhost:3003
NOTIFICATIONS_SERVICE_URL=http://localhost:3004
CORS_ORIGIN=http://localhost:5173,http://localhost:3000
AUDIT_RETENTION_DAYS=90
