PORT=3001
JWT_SECRET=XcuxdXblcDUd7WCcVdc6hFQNWtl7oBqqLRiP7MTQ2kh+pCd7e5WlEYn4YDEMhMuC
DATABASE_URL=postgresql://workbridge_auth:workbridge_auth_pass@localhost:3454/workbridge_auth_db
PROFILE_SERVICE_URL=http://localhost:3002
CORS_ORIGIN=http://localhost:5173,http://localhost:3000
